@import "../../assets/styles/colors";
@import "../../assets/styles/links";

.navbar {
	display: flex;
	flex-direction: row;
	width: 100%;
	justify-content: space-between;
	align-items: center;

	.navbar__brand {
		img {
			width: 50px;
		}
	}

	.navbar__link {
	}

	.navbar__hidden {
		display: none;

		ul {
			list-style: none;

			li {
			}
		}
	}
}
